.card {
  margin: 0;
  padding: 0;
  border-radius: 16px;
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.skeleton {
  background-color: hsl(200, 20%, 95%);
}

.card__imageContainer {
  display: flex;
  position: relative;
}

.card__button {
  position: absolute;
  top: 25px;
  left: 25px;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #4a4a4a;
  background-color: white;
  padding: 5px 5px 0 5px;
  margin: 0;
  font-size: 20px;
  border-radius: 5px;
}

.card__button:hover {
  transition: 0.25s ease-in-out;
  background-color: #4a4a4a;
  color: white;
}

